:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(23, 34, 52);
  --background: rgb(242, 242, 242);
  --accent: rgb(178, 159, 126);
  --button: transparent;

  --font-title: 'Merriweather', serif;
  --font-body: 'Lato', sans-serif;

  --font-size_title: 28px;

  --font-size_subtitle: 20px;

  --font-size_body: 18px;

  --font-size_button: 16px;

  --font-size_input: 14px;

  --cubic-bezier: cubic-bezier(0.42, 0, 0.58, 1);
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-display: swap;
}

body {
  position: relative;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background-color: var(--background);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
img,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
textarea {
  resize: none;
}
